/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Top Bar
:: Map & Content
:: Media Queries
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

html, body {
    height: 100%;
    min-height: 100%;

    /* overflow: auto;    WARNING: Page will NOT scroll with this set */

    font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif;
}


/* -----------------------------------------
   Top Bar Styling
----------------------------------------- */

.top-bar {
    margin-bottom: 0;
    background: #30BBC1;
    background: rgba(0,0,0,.25);
    }
    .top-bar ul > li.divider {
        background: white;
        background: rgba(255,255,255,.5);
    }
    .top-bar ul > li.name h1 {
        background: white;
        position: relative;
        float: left;
        }
        .top-bar ul > li.name h1:after {
            content: '';
            position: absolute;
            right: -15px;
            top: 0;
            width: 0;
            height: 0;
            border-top: 0px solid transparent;
            border-left: 15px solid white;
            border-bottom: 45px solid transparent;
        }
        .top-bar ul > li.name h1 a {
            color: #30BBC1;
            text-transform: uppercase;
            font-size: 16px !important;
        }
    .top-bar ul > li.name h2 {
        font-size: 16px;
        float: left;
        margin-left: 25px;
        color: white;
        text-transform: uppercase;
    }
        
    .top-bar ul > li:not(.name):hover, 
    .top-bar ul > li:not(.name).active, 
    .top-bar ul > li:not(.name):focus {
        background: white;
        background: rgba(255,255,255,.25);
        }
        .top-bar ul > li:not(.name):hover a, 
        .top-bar ul > li:not(.name).active a, 
        .top-bar ul > li:not(.name):focus a {
            color: rgb(14, 133, 138);
            color: rgba(255,255,255,1);
        }
    
    .top-bar ul.left {
        margin-left: 26px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
    }
    
    

/* -----------------------------------------
   Map & Content
----------------------------------------- */

.esriSimpleSliderTL {
    top: 65px;
}
.content {
    margin: 20px auto;
}

#site-details {
    padding: 0 15px;
}

#site-blocks {
    margin: 25px 0;
    }
    #site-blocks > .region {
        
        }
        #site-blocks > .region > .row {
            margin-top: 15px;
        }
        #site-blocks > .region .region-header {
            height: 45px;
            border-top: 1px solid #CCC;
            border-bottom: 1px solid transparent;
            background: #F1F2F2;
            font-size: 24px;
            line-height: 42px;
            padding-left: 12px;
            color: #888;
            cursor: pointer;
            }
            #site-blocks > .region:last-child .region-header {
                border-bottom: 1px solid #CCC;
            }
            #site-blocks > .region .region-header.active {
                border-top: 1px solid #CCC;
                border-bottom: 1px solid #CCC;
                background: #30BBC1;
                color: #FFF;
            }
            
        #site-blocks > .region .region-thumb {
            height: 150px;
            margin-bottom: 20px;
        }
        #site-blocks > .region .region-detail {
            margin-bottom: 20px;
            }
            #site-blocks > .region .region-detail .region-name {
                margin-bottom: 8px;
                font-size: 18px;
            }
            #site-blocks > .region .region-detail .region-desc {
                    margin-bottom: 10px;
                    font-size: 14px;
                    line-height: 18px;
                }
                #site-blocks > .region .region-detail .sub-list {
                
                    }
                    #site-blocks > .region .region-detail .sub-list .region:last-child .region-header {
                        border-bottom: 1px solid #CCC;
                    }
                    #site-blocks > .region .region-detail .sub-list .region > .row {
                        margin-top: 15px;
                    }
                    #site-blocks > .region .region-detail .sub-list .region-thumb {
                        height: 100px;
                    }
                
            #site-blocks > .region .region-detail .button {
                margin-right: 5px;
                margin-bottom: 5px;
            }
    
#footer {
    padding: 15px;
}

ul {
    list-style: none;
}
#block-menu-menu-footer-navigation ul.menu li {
    float: left;
    line-height: 1.3em;
}

#block-menu-menu-footer-navigation ul.menu li a {
    display: block;
    font-weight: bold;
    border-right: 1px solid #666666;
    padding: 0 11px;
    font-size: 11px;
}

#block-menu-menu-footer-navigation ul.menu li.last a {
    border: none;
}

#footer #block-block-11 p {
    color: #515151;
    font-size: 11px;
}
#block-menu-menu-footer-navigation ul.menu {
    font-size: 11px;
    float: right;
}
/* -----------------------------------------
   Media Queries
----------------------------------------- */

@media all and (max-width: 720px) {
    .top-bar ul > li.name {
        background: transparent;
    }
    .top-bar ul > li.divider {
        border-top: none;
        border-bottom: 1px solid white;
        border-bottom: 1px solid rgba(255,255,255,0.5);
    }
}